{% extends 'website/index.html' %}
{% load static %}

{% block content %}
<div class="title galerys">
    <div class="content">
        <h1>Galéria</h1>
        <img src="{% static 'website/images/newlavender.png' %}" alt="ikon">  
    </div>
</div>

<div class="content">
      <div class="photos">
            <img src="{% static 'website/images/fooldal/hotel.png' %}" alt="Hotel épület">
            <img src="{% static 'website/images/fooldal/taj.png' %}" alt="Környékbeli táj">
            <img src="{% static 'website/images/fooldal/wellnes.png' %}" alt="Wellness részleg">
            <img src="{% static 'website/images/fooldal/restaurant.png' %}" alt="Étterem hangulat">
            <img src="{% static 'website/images/fooldal/sauna.png' %}" alt="Szauna belső">
            <img src="{% static 'website/images/fooldal/medence.png' %}" alt="Medence">
            <img src="{% static 'website/images/fooldal/lunch.png' %}" alt="Ebéd">
            <img src="{% static 'website/images/fooldal/taj.png' %}" alt="Környékbeli táj 2">
            <img src="{% static 'website/images/fooldal/táj.png' %}" alt="Környékbeli táj 3">
            <img src="{% static 'website/images/fooldal/levendulamezo.png' %}" alt="Levendulamező">
            <img src="{% static 'website/images/wellness/beds.png' %}" alt="Pihenőágyak">
            <img src="{% static 'website/images/wellness/foglalos_hatter.png' %}" alt="Wellness háttér">
            <img src="{% static 'website/images/wellness/family.png' %}" alt="Családi wellness">
            <img src="{% static 'website/images/wellness/jakuzzi.png' %}" alt="Jakuzzi">
            <img src="{% static 'website/images/wellness/massage1.png' %}" alt="Masszázs">
            <img src="{% static 'website/images/wellness/pool1.png' %}" alt="Medence tér">
            <img src="{% static 'website/images/wellness/sauna.png' %}" alt="Finn szauna">
            <img src="{% static 'website/images/wellness/streamcabin2.png' %}" alt="Gőzkabin">
            <img src="{% static 'website/images/wellness/reception.png' %}" alt="Wellness recepció">
            <img src="{% static 'website/images/welnnesz.png' %}" alt="Wellness kép">
            <img src="{% static 'website/images/etterem/reggeli (2).png' %}" alt="Bőséges reggeli">
            <img src="{% static 'website/images/etterem/gulyas leves.png' %}" alt="Gulyásleves">
            <img src="{% static 'website/images/etterem/steak.png' %}" alt="Szaftos steak">
            <img src="{% static 'website/images/etterem/saláta.png' %}" alt="Friss saláta">
            <img src="{% static 'website/images/etterem/desszert.png' %}" alt="Finom desszert">
            <img src="{% static 'website/images/etterem/bor.png' %}" alt="Minőségi bor">
            <img src="{% static 'website/images/etterem/asztalok.png' %}" alt="Terített asztalok">
            <img src="{% static 'website/images/etterem/etterem (2).png' %}" alt="Étterem belső tér">
            <img src="{% static 'website/images/etterem/foglalos_hatter.png' %}" alt="Étterem háttér">
            <img src="{% static 'website/images/etterem/csalad.png' %}" alt="Családi vacsora">
      </div>
</div>
{% endblock %}