
{% load static %}
<link rel="stylesheet" href="{% static 'room/style.css' %}" >
<div class="card">
    <h2>Szolgáltatások</h2>
    <div class="rooms-grid">
        <div class="room done">
            <form method="post">
                {% csrf_token %}
                <h3>🧹</h3>
                <p>Takarítás kérése</p>
                <button class="primary" type="submit" name="action" value="cleaning" {% if room.cleaning %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>

        <div class="room occupied">
            <form method="post">
                {% csrf_token %}
                <h3>😴</h3>
                 <p>Nem kérek takarítást</p>
                <button class="primary" type="submit" name="action" value="not_cleaning" {% if room.not_cleaning %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>

        <div class="room cleaning">
            <form method="post">
                {% csrf_token %}
                <h3>🛏️</h3>
                <p>Extra ágynemű kérése</p>
                <button class="primary" type="submit" name="action" value="extra_sheets" {% if room.extra_sheets %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>

        <div class="room cleaning">
            <form method="post">
                {% csrf_token %}
                <h3>🧖</h3>
                <p>Extra törölköző kérése</p>
                <button class="primary" type="submit" name="action" value="extra_towel" {% if room.extra_towel %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>

        <div class="room cleaning">
            <form method="post">
                {% csrf_token %}
                <h3>🧴</h3>
                <p>Fürdőszobai utántöltés</p>
                <button class="primary" type="submit" name="action" value="extra_showers" {% if room.extra_showers %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>

        <div class="room cleaning">
            <form method="post">
                {% csrf_token %}
                <h3>🚮</h3>
                <p>Szemét kiürítése</p>
                <button class="primary" type="submit" name="action" value="bin_clean" {% if room.bin_clean %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>

        <div class="room cleaning">
            <form method="post">
                {% csrf_token %}
                <h3>🔔</h3>
                <p>Ébresztés kérése</p>
                <button class="primary" type="submit" name="action" value="wake_up" {% if room.wake_up %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>

        <div class="room occupied">
            <form method="post">
                {% csrf_token %}
                <h3>🚨</h3>
                <p>Hibajelentés</p>
                <button class="primary" type="submit" name="action" value="issues" {% if room.issues %}disabled{% endif %}>
                    Küldés
                </button>
            </form>
        </div>
    </div>
</div>